<div class="container">
  <div class="bd">

    
    <%= error_messages_for :post %>
    
    <% form_for @post , :url => helps_path , :html => { :multipart => true } do |f| -%>
    <div class="new-help">
        <div class="field">
          <label>
            標題
          </label>
          <%= f.text_field :subject %>
        </div>
        
        <div class="field">
          <label>
            選擇受災地區
          </label>
          <%= f.select :county_id , County.find(:all).collect {|p| [ p.name, p.id ] } %>
        </div>
        <div class="field">
          <label>
            選擇文章類型
          </label>
          <%= f.select :help_type_id , HelpType.find(:all).collect {|p| [ p.name, p.id ] } %>
        </div>
        <div class="field">
          <label>
            輸入災情或需要救助內容
          </label>
          <%= f.text_area :content %>
		  <br>
		  <span class="description">
		  	支援在內容貼 連結 / 圖片連結 /  YouTube 連結
		  </span>	
        </div>

    <div id="urls"> 
        <%= render :partial => 'url', :collection => @post.urls %> 
    </div> 
    
    <p> 
    <%= add_url_link "新增相關連結" %> 
    </p>
        <button type="submit" class="submit">submit</button>
    </div>
    <% end %>
  </div>
</div>
